.page-content {
	margin-left: 0;
	transition: margin-left 0.1s;
}

.page-content.sidebar-open {
	margin-left: 250px;
}

.solicitudes {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	color: black;
}

.solicitudes-title {
	font-size: 1.4em;
	font-weight: bold;
	margin-top: 50px;

}