:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

#root {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  color: #006FB3;
}

h2 {
  font-size: 1.5em;
  line-height: 1.1;
  color: #006FB3;
}

h3 {
  font-size: 1.2em;
  line-height: 1;
  color: #006FB3;
}

h4 {
  font-size: 1em;
  line-height: 0;
  color: #006FB3;
  text-align: left;
}

td {
  font-size: 1em;
  line-height: 0;
  color: #006FB3;
  text-align: left;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover,
button:hover button {
	border-color: #006FB3;
	color: #006FB3;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #006FB3;
  }
  button {
    background-color: #f9f9f9;
  }
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 320px;
  width: 100%;
}

.login {
  text-align: center;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 8px;
  background-color: #ffffff;
}

.login label {
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  color: #006FB3;
}

.formulario {
  text-align: end;
}

.formulario input {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
}

.usuarios li {
  width: 100%;
  height: 50px;
  margin: 0 0 10px 0;
  padding: 10px 0;
  background-color: #B3D4E6;
  color: #fff;
}
.usuarios ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.login-button {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid #000000;
  background-color: #006FB3;
  color: white;
}

.register {
  padding: 20px;
  color: #FE6565;

}

.register:hover{
  text-decoration: underline;
  color: #006FB3
}
